<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div style="margin:50">
            <center>Customers</center>
            <table style="width:100%" border="2">
                <tr align="center">
                  <th>customer_id</th>
                  <th>name</th>
                  <th>email</th>
                  <th>address</th>
                  <th>mobile</th>
                </tr>
                    {% for i in Customer %}
                    <tr align="center">
                        <td>{{i.customer_id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.address}}</td>
                        <td>{{i.mobile}}</td>
                    </tr>
                    {% endfor %}
                
              </table>
              <center><button align="center" onclick="window.location.href='http://127.0.0.1:8000/customer'">Manage Customers</button></center>
        </div>
        <div>
            <center>Products</center>
            <table style="width:100%" border="2">
                <tr align="center">
                  <th>Product id</th>
                  <th>Product Name</th>
                  <th>Product Description</th>
                  <th>Product Price</th>
                  <th colspan="100%">Product Images Link</th>
                </tr>
                    {% for i in Product %}
                    <tr align="center">

                        <td>{{i.product_id}}</td>
                        <td>{{i.product_name}}</td>
                        <td>{{i.product_desc}}</td>
                        <td>{{i.product_price}}</td>
                        {% for j in ProductImage %}
                            {% if i.product_id == j.product_id.product_id %}
                                <td >{{j.image}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                
              </table>
              <center><button align="center" onclick="window.location.href='http://127.0.0.1:8000/product'">Manage Customers</button></center>
        </div>

    </body>
</html>
