{% load static %}
<h2>Create Product</h2>
<form method="post"  id = "create_product">{% csrf_token %}
    {{ProductForm.as_p}}
    <input type = "submit" name= "Create" value = "Create"/>
</form>
<h2>Update or Delete product details</h2>
<table style="width:400px" border="2">
    <tr align="center">
      <th>product_id</th>
      <th>Product Name</th>
      <th>Product Description</th>
      <th>Product Price</th>
      <th> Update Product </th>
      <th> Delete Product </th>
      <th >Product Images</th>
    </tr>
        {% for i in Product %}
        <tr align="center">
            <form method="post">{% csrf_token %}
                <td>{{i.product_id}}</td>
                <input type="hidden" name="method" value ="put">
                <input type="hidden" name="id" value = {{i.product_id}}>
                <td><input type = "text" name="name" value = {{i.product_name}}></td>
                <td><input type = "text" name="desc" value = {{i.product_desc}}></td>
                <td><input type = "text" name="price" value = {{i.product_price}}></td>
                <td><input type = "submit" name = "Update" value = "update"></td>
                <td><input type = "submit" name = "Delete" value = "Delete"></td>
                {% for j in ProductImage %}
                    {% if i.product_id == j.product_id.product_id %}
                        <td ><img src="{{j.image.url}}" height="100" widht="50"  alt="No image"></td>
                    {% endif %}
                {% endfor %}
            </form>
        </tr>
        {% endfor %}
        
    </table>
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
    {{ProductImageForm}}
    <td><input type = "submit" name = "upload_image"></td>
    </form>